BooksLoginWPF/BooksLoginWPF/Connected Services/BooksService1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BooksWcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BooksWcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBook" nillable="true" type="tns:ArrayOfBook" />
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="length" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="releaseYear" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
  <xs:complexType name="LoginFailedFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginFailedFault" nillable="true" type="tns:LoginFailedFault" />
  <xs:complexType name="NoAvailableBookFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NoAvailableBookFault" nillable="true" type="tns:NoAvailableBookFault" />
  <xs:complexType name="BookNotFoundFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookNotFoundFault" nillable="true" type="tns:BookNotFoundFault" />
</xs:schema>